.header-tampilan{
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: rgb(94, 89, 196)   ;
}
.jadwal-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-left: 70px;
    padding-top: 50px;
    margin-right: 70px;
}

.data-jadwal-flex {
    width: 20%;
    min-width: 200px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #000000;
    top: auto;
    bottom: auto;
}

.btn-header {
    color: #000000;
    background-color: transparent;
    background-image: none;
}

.form-buat-update-jadwal {
    padding-top: 55px;
}

.btn-update {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-delete {
    margin-bottom: 5px;
}