<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="static/listJadwal.css" rel="stylesheet" />
</head>
<body>
    <div>
		<div class="header-tampilan">
			<div class="justify-content-between" style="display: flex;">
				<div>
					<a class="nav-link" href="/home"><button type="button" class="btn btn-header">Home</button></a>
				</div>
				<div>
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="/buatJadwal"><button type="button" class="btn btn-header">Buat Jadwal</button></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/keluar"><button type="button" class="btn btn-header">Keluar</button></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
    <div class="form-buat-update-jadwal">
        <div class="formwrapper">
            <h2 class="title">
                Buat Jadwal
            </h2>
            <form method="POST" id="buat-form" action="/buatJadwal">
                {{ form.csrf_token }}
                <fieldset class="form-field">
                    {{ form.nama_matkul.label }}
                    {{ form.nama_matkul }}
                    {% if form.nama_matkul.errors %}
                    <ul class="errors">
                    {% for error in form.nama_matkul.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="form-field">
                    {{ form.tanggal.label }}
                    {{ form.tanggal }}
                    {% if form.tanggal.errors %}
                    <ul class="errors">
                    {% for error in form.tanggal.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="form-field">
                    {{ form.jamMulai.label }}
                    {{ form.jamMulai }}
                    {% if form.jamMulai.errors %}
                    <ul class="errors">
                    {% for error in form.jamMulai.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="form-field">
                    {{ form.jamSelesai.label }}
                    {{ form.jamSelesai }}
                    {% if form.jamSelesai.errors %}
                    <ul class="errors">
                    {% for error in form.jamSelesai.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <input type="submit" />
            </form>
        </div>
    </div>
</body>