<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="static/listJadwal.css" rel="stylesheet" />
</head>
<body>
	<div>
		<div class="header-tampilan">
			<div class="justify-content-between" style="display: flex;">
				<div>
					<a class="nav-link" href="/home"><button type="button" class="btn btn-header">Home</button></a>
				</div>
				<div>
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="/buatJadwal"><button type="button" class="btn btn-header">Buat Jadwal</button></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/keluar"><button type="button" class="btn btn-header">Keluar</button></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="jadwal-flex">
		{% for data in dataJadwal %}
		<div class="data-jadwal-flex">
			<div>
				{{data.nama_matkul}}
			</div>
			<div>
				{{data.tanggal}}
			</div>
			<div>
				{{data.jamMulai}}
			</div>
			<div>
				{{data.jamSelesai}}
			</div>
			<div>
				{{data.totalDurasi}}
			</div>
			<div>
				<a href="{{ url_for('updateJadwal', id=data.jadwalId) }}"><button type="button" class="btn btn-update btn-primary">Update</button></a>
			</div>
			<div>
				<a href="{{ url_for('deleteJadwal', id=data.jadwalId) }}"><button type="button" class="btn btn-delete btn-danger">Delete</button></a>
			</div>
		</div>
		{% endfor %}
	</div>
</body>