<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="formwrapper" style="text-align: center;padding-top: 70px;">
        <h2 class="title" style="padding-bottom:  30px;">
            Selamat Datang di Program Susun Jadwal
        </h2>
        <form method="POST" id="buat-form" action="/masuk">
            {{ form.csrf_token }}
            <fieldset class="form-field form-group">
                {{ form.username.label }}
                {{ form.username }}
                {% if form.username.errors %}
                <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field form-group">
                {{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <input type="submit" />
        </form>
    </div>

</body>